# Node / Astro
node_modules/
dist/
.astro/
*.log
pnpm-debug.log*
npm-debug.log*
.vscode

# Env & secrets
.env
.env.*
!.env.example

# App data
data/
# Si quieres versionar el directorio pero no el archivo:
# data/*
# !data/.gitkeep

# SO / editores
.DS_Store
Thumbs.db
.vscode/
.idea/

extract-code.ps1
